<table class="table table-bordered table-hover">
  <thead class="grid-heading-row">
    <tr style="text-align: center">
		{% for (var i = 0; i < header_columns.length; i++) { %}
			 <th style="text-align: center" >{{ header_columns[i] }}</th>
		{% } %}
    </tr>
  </thead>
  <tbody>
	  {% if (data.length)  %}
		  {% for (var i = 0; i < data.length; i++) { %}
			  <tr style="text-align: center" id="data-list-{{i}}">
				<td>{{ data[i].alt_item }} </td>
        <td width="30%">
          <div class="control-input-wrapper">
            <input style="text-align: center"
                  id="data-qty-{{i}}"
                  class="control-value bold"
                  value="{{ data[i].qty }}"
                  onchange="cur_frm.update_qty({{ i }})"
                  type="number" step="0.01"/
                  {% if (cur_frm.doc.docstatus == 1 && !cur_frm._this_session_alts.includes(data[i].alt_item) ) { %} disabled  {% } %}
                  >
          </div>
        </td>
				<td>
            <button {% if (cur_frm.doc.docstatus == 1 && !cur_frm._this_session_alts.includes(data[i].alt_item) ) { %} style="visibility: hidden;"  {% } %}  id="data-list-{{i}}" onclick="cur_frm.remove_row({{ i }})" type="button" class="btn btn-danger" ><span class="glyphicon glyphicon-trash"></button>
        </td>
			  </tr>
		  {% } %}
	  {% }  else { %}
	  	     <td style="text-align:center"  colspan="6" style="text-align:center;">
             <br><b class="text-muted">{% __("No Alternative Item")%} </b> </td>
	  {% } %}
  </tbody>
</table>
